.information_panel{
    background-color: white;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
}

.time, .score{
    width: 50%;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
}

.score_string, .time_string{
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: gray;
}

.score_int, .time_date{
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
}