.information_panel{
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
    margin: 20px;
}

.time, .score{
    width: 50%;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
}

.score_string, .time_string{
    font-size: clamp(4px, 1.5vw, 16px);
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: gray;
}

.score_int, .time_date{
    font-size: clamp(4px, 3vw,20px);
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
}