.carousel-game{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.carousel-wrapper-points{
    display: flex;
    flex-direction: row;
    column-gap: 50px;    
    width: 700px;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.carousel-next-point{
    display: flex;
    flex-direction: column;
}

.carousel-wrapper-question{
    display: flex;
    flex-direction: column;
    row-gap: 10px;   
    width: 700px;
    align-self: center;
}

.carousel-label{
    font-size: 20px;
    align-self: center;
}

.carousel-button-answer{
    font-size: 20px;
}

#input-answer{
    font-size: 20px;
}