.carousel-info-window{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-bottom: 50px;
}

.carousel-wrapper-score{
    display: flex;
    flex-direction: row;
}

.carousel-count-value{
    margin-left: 5px;
}

.carousel-game{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

#carousel-progress-table{
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}   

#carousel-progress-table th, td{
    border: 1px solid black;   
    text-align: center;
    width: 100px;
}

