main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
}

.wrapper{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

table{
    border-collapse: separate;
    border-spacing: 5px;
}

td{
    border-radius: 10px;
}