main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
}

.wrapper{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    padding: 20px;
    box-shadow: 10px 0 10px -10px gray inset, -10px 0 10px -10px gray inset;
    position: relative;
}

table{
    border-collapse: separate;
    border-spacing: 20px 10px;
}

td, th{
    font-family: 'DM Sans', sans-serif;
}

th{
    font-size: 24px;
}

td{
    border-radius: 20px 0 20px 0;
    border: none;
    font-size: 20px;
}

.theme{
    border-bottom: 1px solid black;
}