/* .blur{
    
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.title-home{
    font-size: 150px;
    font-weight: 500;
}

.description-home{
    font-size: 25px;
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
    font-weight: 500;
}

main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}