.modal_dark{
    position: absolute;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.modal_dark.active{
    transform: scale(1);
}

.modal_window_square{
    border-radius: 40px 5px 40px 5px;
    border: 5px solid orange;
    background-color: #fef0db;
    width: 90%;
    height: 90%;
    transform: scale(0);
}

.active .modal_window_square{
    transform: scale(1);
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: show_modal;
}



@keyframes show_modal {
    0% {            
        opacity: 0;
        transform: translate3d(0px, -50%, 0px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}