.carousel-table{
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}   

.carousel-table th, td{
    border: 1px solid black;   
    text-align: center;
    width: 100px;
}

.correct {
    background-color: lightgreen; /* Цвет для правильных ответов */
}

.incorrect {
    background-color: lightcoral; /* Цвет для неправильных ответов */
}