@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

.dark_theme{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: rgb(0,0,0, 0.8);
    transform: scale(0); 
    z-index: 9999;
    overflow: hidden;
}

.dark_theme.active{
    transform: scale(1);
}

.burger{
    min-height: 100vh;
    width: 70%;
    background: url('./../../img/background-site.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    max-width: 300px;
    transform: scale(0);
}

.active .burger{
    transform: scale(1);
    animation-name: show_burger;
    animation-duration: 0.2s;
    overflow: auto;
}

@keyframes show_burger{
    0% {
        transform: translateX(-70%);
    }
    100% {
        transform: translateX(0);
    }
}

.burger_list{
    display: flex;
    flex-direction: column;
}

.burger_list_item{
    background-color: white;
    font-size: 20px;
    margin-top: 4px;
    padding: 20px;
    text-align: center;
}

.burger_list_item a{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: black;
    color: var(--nav-text);
	transition: opacity 0.2s ease-in;
}

.burger_list_item a:hover{
    opacity: 0.7;
}
