.nav {
	padding: 20px 0;
	background-color: var(--nav-bg);
	color: var(--nav-text);
	letter-spacing: normal;
	position: relative;
}

.nav-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo_left {
	margin-right: auto;
}

.logo_center {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	width: 70px;
	
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.link-strong{
	font-weight: 700;
}

.nav-list_link {
	color: var(--nav-text);
	transition: opacity 0.2s ease-in;
}

.nav-list_link:hover {
	opacity: 0.8;
}

.nav-list_link-active {
	position: relative;
}

.nav-list_link-active::before {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}

